
.sidebar-atemun-bg {
    background: #9e742b !important;
}

.sidebar-left-bg {
    background-color: lightgrey !important;
}

.sidebar-right-image {
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.img_bg_home {

    background-image: url("../images/bg-auth.png") !important;
    background-repeat: no-repeat;
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 5em;
    margin-left: 5em;
    height: 80em;

}

.bg-ciudad
{
    background-color: darkgray ;

}
